@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    background-image: url('../img/background_light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 40px;
    row-gap: 15px;
    align-items: center;
    box-sizing: border-box;
}

input {
    font-family: "Poppins", sans-serif;
    border-radius: 0 5px 5px 0;
    border: 1px solid;
    height: 35px;
    padding: 5px;
    transition: 0.2s;
    width: 100%;
    border-left: none;
    transition: .3s ease;
}

input:hover {
    filter: drop-shadow(0px 0px 5px #898989);
}

input[type=checkbox] {
    cursor: pointer;
    width: 1rem;
    accent-color: #212529;
}

.label-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.icon-label {
    display: flex;
    align-items: center;
    border: 1px solid black;
    height: 35px;
    padding: 5px;
}

button {
    font-family: "Poppins", sans-serif;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    animation: ease-in;
    background-color: #212529;
    color: whitesmoke;
    animation: background-color 0.2s erase;
}

button:hover {
    scale: 1.1;
    background-color: #025C3B;
    transition: 0.2s;
    color: whitesmoke;
}

button i {
    display: none;
    color: whitesmoke;
}

button span {
    transition: margin-left 0.2s ease-in-out;
}

button:hover span {
    opacity: 1;
    margin-left: .2rem;
}

button:hover i {
    display: contents;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.options {
    display: flex;
    column-gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

form a {
    color: #272727;
    transition: .3s ease;
}

form a:hover {
    filter: drop-shadow(0px 0px 5px #272727);
}

form h1 {
    cursor: context-menu;
}