@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    background-image: url('../img/background_light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 40px;
    row-gap: 30px;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    min-width: 230px;
}

input {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid;
    height: 45px;
    padding-left: 10px;
    transition: .3s ease;
}

input:hover {
    filter: drop-shadow(0px 0px 5px #898989);
}

input[type=checkbox] {
    cursor: pointer;
    width: 1rem;
    accent-color: #212529;
}

.label-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.label-checkbox label{
    cursor: pointer;
}

.form-btn {
    font-family: "Poppins", sans-serif;
    height: 45px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #212529;
    color: whitesmoke;
    animation: cubic-bezier( 0, 0.89, 1, 0.94 );
    transition: .2s;
}

.login-btn:hover{
    background-color: #025C3B;
    color: whitesmoke;
}

.signup-btn:hover{
    background-color: #2e516b;
}

.form-btn:hover {
    scale: 1.1;
}

.form-btn i {
    opacity: 0;
    color: whitesmoke;
    transition: .2s;
    animation: ease-in;
    margin-left: -1rem;
}

.form-btn:hover i {
    opacity: 1;
}

.form-btn span {
    transition:0.2s ease-in-out;
}

.form-btn:hover span {
    opacity: 1;
    margin-left: .5rem;
}

/* Glassmorphism card effect */
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.40);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

form a {
    color: #272727;
    transition: .3s ease;
}

form a:hover {
    filter: drop-shadow(0px 0px 5px #272727);
}

form h1 {
    cursor: context-menu;
}

.label{
    width: 100%;
    display: grid;
    grid-template-areas: "input";
}

.input {
    grid-area: input;
}

.label__name{
    grid-area: input;
    z-index: 1;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s;
}

.input:focus + .label__name,
.input:not(:placeholder-shown) + .label__name
{transform: translateY(-80%) scale(.9);
}


/*Modal*/

.modal-btn{
    background-color: transparent;
    color: black;
    border: none;
    font: inherit;
    text-decoration: underline;
}


/* The Modal (background) */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation: blurring 0.4s ease;
    animation-fill-mode:forwards;
  }

  @keyframes blurring {
    from {
        backdrop-filter: blur(0px) saturate(180%);
    }
    to {
        backdrop-filter: blur(2px) saturate(180%);
    }
}

  /* Modal Content */
  .modal-content {
    border-radius: 10px;
    background-color: #fefefef6;
    margin: auto;
    padding: 10px;
    width: 80%;
    animation: appear 0.4s ease; /* Animación de deslizamiento */
    width: 100%;
    max-width: 400px;
    min-width: 230px;
   

  }
  
  @keyframes appear {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

